input {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.first-name {
    width: 148px;
}

.last-name {
    width: 148px;
}

.email {
    display: block;
    width: 322px
}

button {
    background-color: rgb(52, 115, 250);
    color: white;
    width: 344px;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
}