
.right-sidebar {
  background-color: green;
	color: white;
	position: fixed;
	bottom: 0;
	top: 0;
	right: 0;
	width: 100px;
}

.overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	font-family: Roboto, Arial;
}

.modal {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	border-radius: 10px;
	width: 400px;
	height: 150px;
	padding: 15px

}

.title {
	font-size: 30px;
	font-weight: bold;
}

button {
	padding: 3px 10px;
	width: 70px;
}