body {
	height: 1500px;
	padding-top: 60px;
	padding-left: 80px;
}

.header {
	background-color: black;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 1;
}

.sidebar {
	background-color: green;
	color: white;
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 72px;
}

.absolute {
	position: absolute;
	background-color: red;
	color: white;
	right: 0px;
	top: 0px;
}

.div1 {
	background-color: lightblue;
	height: 200px;
	width: 200px;
	position: static;
}

.div2 {
	background-color: lightpink;
	height: 200px;
	width: 200px;
	position: relative;
}

.absolute2 {
	position: absolute;
	background-color: black;
	color: white;
	bottom: 5px;
	right: 5px;
}