p {
  font-family: Roboto, Arial;
  margin: 0;
}

.flex-box {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(119, 69, 165);
  padding: 10px;
}

.home {
  font-family: Roboto, Arial;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.input {
  font-family: Roboto, Arial;
  border: none;
  font-size: 18px;
  height: 35px;
  min-width: 500px;
  border-radius: 20px;
  color: rgb(150, 150, 150);
  padding-left: 30px;
}

button {
  font-family: Roboto, Arial;
  background-color: rgb(119, 69, 165);
  font-size: 18px;
  color: white;
  border-radius: 4px;
  border: solid;
  border-width: 1px;
  border-color: white;
  padding: 8px 12px;
  cursor: pointer;
}

button:active {
  padding: 6px 10px;
  border-width: 3px;
}