
.header {
  background-color: white;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
	left: 0;
	right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(230, 230, 230);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.search-bar {
  flex: 1;
  height: 36px;
  border-radius: 2px;
  padding-left: 10px;
  border: 1px solid #cccccc;
  font-size: 16px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, .05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  background-color: rgb(244, 244, 244);
  height: 40px;
  width: 64px;
  border: 1px solid #cccccc;
  margin-left: -1px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(234, 234, 234);
}

.search-button:active {
  background-color: rgb(224, 224, 224);
}

.button-number {
  position: relative;
}

.search-icon {
  height: 25px;
  width: 25px;
  margin-top: 4px;
}

.notification-number {
  position: absolute;
  top: -3px;
  right: -6px;
  background-color: rgb(206, 31, 31);
  color: white;
  font-family: Roboto, Arial;
  font-size: 9px;
  border: solid;
  border-width: 2px;
  border-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  
}

.voice-search-button {
  background-color: rgb(244, 244, 244);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.voice-search-icon {
  height: 25px;
  margin-top: 4px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  flex-shrink: 0;
}

.upload-button {
  background-color: white;
  height: 40px;
  border: none;
  cursor: pointer;
}

.upload-icon {
  height: 25px;
}

.apps-button {
  background-color: white;
  height: 40px;
  border: none;
  cursor: pointer;
}

.apps-icon {
  height: 25px;
}

.notifications-button {
  background-color: white;
  height: 40px;
  border: none;
  cursor: pointer;
}

.notifications-icon {
  height: 25px;
}

.channel-picture {
  height: 35px;
  width: 35px;
  border-radius: 18px;
  margin-right: 20px;
}