.a11 {
    display: grid;
    grid-template-columns: 200px 75px;
    padding-bottom: 20px;
}

.blue {
    background-color: lightblue;
}

.pink {
    background-color: lightpink;
}

.b11 {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
    padding-bottom: 20px;
}

.c11 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}