p {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}

input {
    display: block;
    font-size: 16px;
    border: none;
    background-color: rgb(226, 226, 226);
    width: 350px;
    padding: 8px;
    margin-bottom: 8px;
}

button {
    border: none;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 8px;
    margin-top: 20px;
    cursor: pointer;
}

.request {
    background-color: black;
    color: white;
    border: none;
}

.shedule {
    background-color: rgb(226, 226, 226);
}